@import './../../../../../styles/sass/mixins.scss';

@import './../../../../../styles/sass/vars.scss';

.forgot{
    background: $backgroundColor;
    width: 100%;
    height: 100vh;
    @include flex (flex, row, center, center)
    
}

.card{
    width: 415px;
    background-color: #fff;
    border-radius: 20px;
    @include flex (flex, column, center, center);
    
}

.logo{
    margin-top: 25px;
}
.email{
    margin-top:35px;
}

.check{
    margin-top: 25px;
    @include text (22px, 600, 33px, #2D2E46);
}
.checkText{
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 140px;
    @include text (16px, 400, 22px, #2D2E46);
}
