

$acentColor: #FC9B09;
$primaryColor: #FFF;


$textColorLight: #969393;
$linkColor: #5286EC;




$backgroundColor: linear-gradient(#e66465, #9198e5);
$backgroundColorLight: #dbc1d1;
$textColor: #000;
$secondaryColor: #C7C7C7;
$btnAcentColor:#3040ce;
$backgroundColorFilter: #f1d3f1;
