

$acentColor: #FC9B09;
$primaryColor: #FFF;
$secondaryColor: #C7C7C7;

$textColorLight: #B3B3B3;
$linkColor: #5286EC;




$backgroundColor: linear-gradient(#e66465, #9198e5);
$backgroundColorLight: #d5b6c8;
$textColor: #000;
