@import './../../../../../styles/sass/mixins.scss';

@import './../../../../../styles/sass/vars.scss';

.reg{
    background: $backgroundColor;
    width: 100%;
    height: 100vh;
    @include flex (flex, row, center, center)
    
}

.card{
    max-width: 415px;
    background-color: #fff;
    border-radius: 20px;
    @include flex (flex, column, center, center);
    
}

.logo{
    margin-top: 25px;
}

.error{
    color:red;
    position: absolute;
    top: 240px;
}
.form{
   
    @include flex (flex, column, center, center);
    margin: 40px 30px 0 30px;
}

.view{
    @include text (12px, 400, 14px, #912d5c);
    align-self: flex-end;
    margin-top: 20px;
    cursor: pointer;
}

.btnWrap{
    @include flex (flex, row, space-between, center);
    width: 100%;
    margin-top: 70px;
    margin-bottom: 60px;
    .cancel{
        background-color: #D7D8EF;
        color:#21268F;
        width: 120px;
        
        &:hover{
            background-color: #a8a9be;
        }
    }
    .register{
        background-color: rgb(70, 18, 168);
        width: 190px;
        background-color: #21268F;
        color: #fff;
        &:hover{
            background-color: #373ca1;
        }
    }
}

