@import './../../../../styles/sass/mixins.scss';

@import './../../../../styles/sass/vars.scss';

.filter{
    border-radius:20px 0 0 20px ;
    max-width: 245px;
    background-color: #f1d3f1;

    .filterTitle{
        @include text (16px, 400,19px, $textColor);
        margin-left: 10px;
    }
    .tab1, .tab2 {
        display: none;
    }
    .labelMy{
        display: inline-block;
        position:static !important;
        width: 95px;
        padding: 10px 0;
        margin: 10px;
        background-color:#fff;
        text-align: center;
        border-radius: 2px;
        &:hover{
            background-color:#b8a8b8;
        }
    }
    .labelAll{
        display: inline-block;
        position:static !important;
        width: 95px;
        padding: 10px 0;
        margin: 10px;
        background-color:#fff;
        text-align: center;
        border-radius: 2px;
        &:hover{
            background-color:#b8a8b8;
        }
    }

    .contentMy{
        display: none;
    }

    .contentAll{

    }
}
.tab1:checked ~ .labelMy{
    background-color:#b8a8b8;
    color:#fff;
}
.tab2:checked ~ .labelAll{
    background-color:#b8a8b8;
    color:#fff;
}
.tab1:checked ~ .contentMy{
    display: block;
}