@import '../../../../../../../styles/sass/mixins';
@import '../../../../../../../styles/sass/vars';

.table{
  width: 90%;
  box-shadow: inset 2px 2px 5px rgba(154, 147, 140, 0.5), 1px 1px 5px #040303;
  border-spacing: 0;
  margin: 50px 0px;
  border-collapse: collapse;

  .title{
    background-color: $backgroundColorLight;
    th{
      @include text (13px, 800, 12px, $textColor);
    }
    th:last-child{
      text-align: center;
    }
  }
  tr{
    height: 50px;
    // width: 100%;
  }
  th{
    text-align: left;
    border: none;
    @include text (13px, 500, 12px, $textColor);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    padding-left: 15px;
    &:hover{
      overflow:visible;
      z-index: 99999999999999;
      // border: 1px solid;
      // background-color: #fff;
      // width: 100%;

    }
  }
  th:nth-child(1){
    min-width: 80px;
    max-width: 130px;
  }
  th:nth-child(2){
    min-width: 60px;
    max-width: 100px;
  }
  th:nth-child(3){
    min-width: 80px;
    max-width: 150px;
  }
  th:nth-child(4){
    min-width: 80px;
    max-width: 110px;
  }
  th:nth-child(5){
    min-width: 80px;
    max-width: 150px;
  }

  .row:nth-child(2n+1){
    background-color: change-color($backgroundColorLight, $lightness: 95%);
    width: 100%;
  }
  .select{
      background-color: $backgroundColorLight;
      border:none;
      @include text (13px, 800, 12px, $textColor);
  }
  .btn{
    margin-right: 5px;
    border-radius: 3px;
    border: none;
    padding: 5px 5px;
  }
  .btnAdd{
    background-color: $btnAcentColor;
    color: #fff;
    border: none;
    border-radius:2px;
    padding: 10px 30px;
    
    &:hover{
      background-color: change-color($btnAcentColor, $lightness: 55%);
    }
  }

  .link{
    display: inline-block;
    background-color: #D7D8EF;
    padding: 7px 5px;
    border-radius: 3px;
    color: #000;
    
  }
}




