@import '../../../../../../styles/sass/mixins';

@import '../../../../../../styles/sass/vars';

.filter {
  border-radius: 20px 0 0 20px;
  max-width: 245px;
  background-color: #f1d3f1;
  @include flex(flex, column, flex-start, center);

  .filterTitle {
    @include text(20px, 800, 19px, $textColor);
    margin: 30px 20px 40px 25px;
  }

  .filterWrap {

    .btnMy {
      width: 95px;
      height: 35px;
      background-color: #fff;
      color: #000;
      border: none;
      transition: .5s;

      &:hover {
        background-color: change-color($backgroundColorFilter, $lightness: 79%);
        color: #fff;
      }
    }

    .btnAll {
      width: 95px;
      height: 35px;
      background-color: #fff;
      color: #000;
      border: none;
      transition: .5s;

      &:hover {
        background-color: change-color($backgroundColorFilter, $lightness: 79%);
        color: #fff;
      }
    }

    .btnActive {
      background-color: change-color($backgroundColorFilter, $lightness: 79%);
      color: #fff;
    }
  }

  .content {
    margin-top: 40px;

    .span {
      @include text(16px, 600, 19px, $textColor);
      display: block;
      margin: 0 0 40px 20px;
    }
  }

}
