@import '../../../../../../styles/sass/mixins';

@import '../../../../../../styles/sass/vars';

.main {
  @include main();


  .content {
    max-width: 770px;
    @include flex(flex, column, start, center);

    .packListTitle {
      align-self: flex-start;
      margin-left: 20px;
    }

    
  }
}
