@import '../../../../../../styles/sass/mixins';

@import '../../../../../../styles/sass/vars';

.main {
  @include main();


  .content {
    width: 100%;
    @include flex(flex, column, start, center);

    .packListTitle {
      align-self: flex-start;
      margin: 30px 0 30px 35px;
    }

    
  }
}
