
.password{
    margin-top: 35px;
    position: relative;
}

label {
    position: absolute;
    left: 0px;
    top: -15px;
    font-size: 13px;
    color:#24254A;
    
}
input{
    
    width: 345px;
    height: 30px;
    border:none;
    border-bottom: 1px solid #24254A;
    outline:none;
}
.passwordControl{
    display: block;
    position: absolute;
	top: 5px;
	right: 15px;
	display: inline-block;
	width: 22px;
	height: 16px;
	background: url('./../../../../../assets/img/Shape.svg') 0 0 no-repeat;
}