@import '../../../../styles/sass/mixins';
@import '../../../../styles/sass/vars';

.wrap {
  display: flex;
  align-self: center;
  // margin-left: 20px;
  width: 90%;
  position: relative;

  .input {
    width: 100%;
    margin: 0;
    padding: 0 0 0 10px;
    height: 36px;
    border: 2px solid $secondaryColor;
    border-radius: 3px;
    position: relative;
    padding-left: 20px;

    // &::placeholder {
    //   @include text(14px, 400, 24px, $textColorLight);
    //   margin-left: 20px;
    // }
    
  }
  .label{
    display: inline;
    position: absolute;
    @include text(16px, 400, 24px, $textColorLight);
    background-color: #fff;
    margin-top: 10px;
    margin-left: 20px;
    transition: .5s;
    // padding: 0 5px;
  }

  .input:focus ~ .label{
    margin-top: -12px;
  }
  
}